<!-- <div id="misardcarousel" class="carousel slide" style="margin-top: 7rem;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#misardcarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1" style="background-color: black;"></button>
    <button type="button" data-bs-target="#misardcarousel" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: black;"></button>
    <button type="button" data-bs-target="#misardcarousel" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: black;"></button>
    <button type="button" data-bs-target="#misardcarousel" data-bs-slide-to="3" aria-label="Slide 3" style="background-color: black;"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        width="800"
        height="400"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Third slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >        
      </svg>
      <div class="carousel-caption">
        <img src="assets/home-windos-img/download1.jpg" alt="" style="width: 1325px;margin-left: -18rem;" height="400">
      </div>
    </div>
    <div class="carousel-item">
      <svg
      class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
      width="800"
      height="400"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: Third slide"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
          </svg>
      <div class="carousel-caption">
        <div class="carousel-caption">
          <img src="assets/home-windos-img/download2.jpg" alt="" style="width: 1325px;margin-left: -18rem;" height="400">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
      class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
      width="800"
      height="400"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: Third slide"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
    </svg>

      <div class="carousel-caption">
        <div class="carousel-caption">
          <img src="assets/home-windos-img/download3.jpg" alt="" style="width: 1325px;margin-left: -18rem;" height="400">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
      class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
      width="800"
      height="400"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: Third slide"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
    </svg>

      <div class="carousel-caption">
        <div class="carousel-caption">
          <img src="assets/home-windos-img/download4.jpg" alt=""  height="400" style="width: 1325px;margin-left: -18rem;">
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#misardcarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#misardcarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div> -->

<!-- <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" style="margin-top: 7rem;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/home-windos-img/download2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/home-windos-img/download3.jpg"  class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="assets/home-windos-img/download4.jpg" alt="" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<section class="banner mt-1">
  <div class="bg-video-wrap">
    <video class="background" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="assets/Home_Video/Working_Video.mp4" type="video/mp4">
    </video>
    <div class="overlay">
    </div>
    <div class="v_banner test">
        <!-- <img src="assets/media/images/logo_outline.svg" alt="" class="bImg center"> -->
        <div class=" banner-title-small center ms-1">  
           <span class="fast-flicker">RR </span>
           <span>Enter </span>
           <span class="fast-flicker">P </span>
           <span>rises </span></div>
      <div class=" ">
        <span class="banner-title-large">High</span>
        <span class="banner-title-small">Quality </span>
        <span class="banner-title-large">UPVC</span>
        <span class="banner-title-small"> Windows</span>
      </div>
      <div class="v_subtitle center">
        Discover the benefits of our UPVC windows. Combining innovative design, superior insulation, and enhanced
        security,<br>
        our UPVC windows ensure energy efficiency and long-lasting performance for your home.
      </div>
      <div class="mt-3 hover-div ">
        <button type="button" class="btn btn-outline-danger" (click)="userDetails()" style="color: white;"> Contact
          Us</button>
      </div>
    </div>
  </div>
</section>