
<section class="banner mt-1">
  <div class="bg-video-wrap">
    <video class="background" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="assets/Home_Video/Working_Video.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="v_banner test">
      <div class="fast-flicker banner-title-small center ms-1">RR Enterprises</div>
      <div>
        <span class="banner-title-large">High</span>
        <span class="banner-title-small">Quality</span>
        <span class="banner-title-large">UPVC</span>
        <span class="banner-title-small">Windows</span>
      </div>
      <div class="v_subtitle center">
        Discover the benefits of our UPVC windows. Combining innovative design, superior insulation, and enhanced security,
        our UPVC windows ensure energy efficiency and long-lasting performance for your home.
      </div>
      <div class="mt-3 hover-div ">
        <button type="button" class="btn btn-outline-danger" (click)="userDetails()" style="color: white;">Contact Us</button>
      </div>
    </div>
  </div>
</section>