<app-carousel></app-carousel>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mt-5">  
       <h2 style="font-size: 55px;">Fastest Growing Brand in uPVC windows & Doors</h2>
       <span>Switch to RR Enterprises the Trusted brand in industry since 5 Years</span>
      <div class="mt-3">
        <button class="btn btn-primary" (click)="userDetails()"> Contact Us</button>
      </div>
    </div>
    <div class="col-md-6 mt-5 d-flex justify-content-center">
      <img src="assets/door/download2.jpg"  alt="Placeholder Image">
    </div>
  </div>
</div>
<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <div>
          <h5>Latest Products</h5>
        </div>
        <div class="d-flex me-5">
          <p class="text-primary mb-0 me-3" (click)="showWindows()">Windows</p>
          <p class="text-primary mb-0" (click)="showDoors()">Doors</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4" *ngIf="displayWindows" style="margin-top: 4rem; margin-bottom: 4rem;">
    <div class="gallery-container">
      <div class="gallery-item col-md-4">
        <img src="assets/home-windos-img/download1.jpg" alt="Image 1">
      </div>
      <div class="gallery-item col-md-4">
        <img src="assets/home-windos-img/download2.jpg" alt="Image 2">
      </div>
      <div class="gallery-item col-md-4">
        <img src="assets/home-windos-img/download3.jpg" alt="Image 3">
      </div>
      <div class="gallery-item col-md-4">
        <img src="assets/home-windos-img/casement.jpg" alt="Image 4">
      </div>
      <div class="gallery-item">
        <img src="assets/home-windos-img/Premium-Windows.jpg" alt="Image 5">
      </div>
      <div class="gallery-item">
        <img src="assets/home-windos-img/Sliding-Windows-2.jpg" alt="Image 6">
      </div>
      <div class="gallery-item">
        <img src="assets/home-windos-img/Special-Window.jpg" alt="Image 7">
      </div>
    </div>
  </div>
  
  <div class="container mt-4" *ngIf="displayDoors" style="margin-top: 4rem; margin-bottom: 4rem;">
    <div class="gallery-container">
      <div class="gallery-item col-md-4">
        <img src="assets/door/download1.jpg" alt="Image 1">
      </div>
      <div class="gallery-item col-md-4">
        <img src="assets/door/download2.jpg" alt="Image 2">
      </div>
      <div class="gallery-item col-md-4">
        <img src="assets/door/download3.jpg" alt="Image 3">
      </div>
      <div class="gallery-item col-md-4">
        <img src="assets/door/images1.jpg" alt="Image 4">
      </div>
    </div>
  </div>
</section>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <p class="text-primary">ABOUT US</p>
      <h2>WEATHERSEAL UPVC WINDOWS AND DOORS</h2>
      <div>
        <p style="margin-top: 5rem;">
          Weatherseal formulation and manufacturing process makes uPVC windows that deliver superior performance, energy
          efficiency and environmentally safe product with the promise of long-term sustain ability. Our use of
          cutting-edge precision machinery, European profiles and hi-end hardware infrastructure tools make our products
          one of the best in the market in terms of quality, performance and cost-effectiveness. As evident the modern
          day constructions of all sorts have efficiently been supported by various advancements throughout the changing
          needs of construction requirements, one such need being the Windows and Doors of our structures that need full
          proof sealing and safety adherence. Acknowledging the demand for efficient uPVC Windows and Doors, uPVC has
          garnered great respect and value from all ranks of engineers for it being an apt solution for environment
          safeguarding and a perfect replacement to traditional Windows and Doors. Weatherseal is one of the pioneering
          companies that has taken up the responsibility to provide highly qualified uPVC Windows and Doors to all
          corners of South India
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/about1.png" class="img-fluid" alt="Placeholder Image">
    </div>
  </div>
</div>
  
<section class="design-need mb-5  mt-5">
  <div class="container  mb-5">
    <div class="section-heading">
      <h2 class="display-4">We Design With Your Needs In Mind</h2>
    </div>
    <div class="col mt-3">
      <p>Our goal is to empower you to transform your home with not just the right kind of windows but also doors. <br>
        One of our superior products is the 10 feet Sliding door that helps you create the style you want to achieve for
        your home. <br>
        10 feet sliding doors comprise of two or more frames that can slide horizontally, to the left or right on
        tracks. They are very smooth <br>to operate since they are slightly raised above the track. This prevents the
        dust from settling in the track.</p>
    </div>
    <div class="row mt-4 ">
      <div class="col-md-10 offset-md-1">
        <p><b> Here are the few features and benefits of the 10 feet sliding doors to look out for: </b></p>
        <ul class="list-group">
          <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            The nylon rollers in the bottom ensure smooth movement
          </li>
          <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            Touch lock feature for easy locking
          </li>
          <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            Multi chambered for extra strength and better thermal conductivity
          </li>
          <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            More opening for better sunlight and natural air
          </li>
          <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            Rain track for a free-flow drain system
          </li>
          <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            Hurricane bar option to withstand heavy storms and weather
          </li>
          <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            Soundproof
          </li>
          <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            Variety of design, colors and hardware options
          </li>
        </ul>
        <p class="mt-4 ">10 feet Sliding uPVC doors are a perfect fit if you are looking to make your space look
          well-lit and spacious.</p>
      </div>

    </div>
  </div>
</section>

<section class="mb-5">
  <div class="container mb-5">
    <div class="section-heading" #sectionHeading1>
      <h5 style="color: green;">Why Should I choose RR Enterprises?</h5>
      <p>
        RR Enterprises is committed to providing customers with the best
        solutions in functionality and design. Along with promising physical
        appeal, RR Enterprises also offers superior UPVC quality in its
        products, ensuring durability, energy efficiency, and low maintenance.
      </p>
    </div>
    <div class="section-heading mt-5" #sectionHeading2>
      <h5 style="color: green;">When is the product installed?</h5>
      <p>
        Since most of our windows & doors have glass on them it is very
        important to install them after all the civil work is completed at the
        site so that no damage will be caused to the finished product. Our
        recommendation is to get the product installed after 1st coat of paint.
      </p>
    </div>
  </div>
</section>

<section class="design-need mb-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Recyclable</h3>
          <p class="mt-3">uPVC can be recycled as often as 10 times. Where they have been commonly used for the past 30
            years, such as in Europe, uPVC windows and doors can be - and are - recycled at the end of life.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Weather Resistance</h3>
          <p class="mt-3">uPVC windows & doors can easily withstand severe weather conditions including heavy rainfall &
            extreme exposure to the sun.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Security</h3>
          <p class="mt-3">uPVC windows can incorporate multi-locking systems providing a high level of security for
            homes or businesses. Most uPVC window locking systems lock at multiple points all around the sash and frame.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Low Maintenance</h3>
          <p class="mt-3">GREEN WINDOW uPVC windows & doors require almost negligible maintenance and do not need
            painting or polishing, just normal cleaning with soap water & cotton cloth will keep them new forever.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Termite Free</h3>
          <p class="mt-3">Cora uPVC windows & doors are 100% termite free as uPVC is a modified fiber.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Sound Proof</h3>
          <p class="mt-3">When used with double or triple glazed glasses GREEN WINDOW uPVC windows and doors can cut
            down noise up to a very significant level so that it will not be a botheration for you.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Dust Proof</h3>
          <p class="mt-3">The double impact sealing system of EPDM gasket & silicon sealant along with a wool pile
            ensures that uPVC windows & doors are perfectly sealed against rainwater & dust.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Easy Installation</h3>
          <p class="mt-3">With highly professional & technically sound installation team at work GWI ensures a
            hassle-free installation at the site with minimal damage to the civil work.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Wind Resistance</h3>
          <p class="mt-3">Unique built up with galvanized iron reinforcement gives strength to GWI uPVC windows & doors
            and they do not rattle even if exposed to a wind pressure of 3000 Pascals</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Cost Effective</h3>
          <p class="mt-3">Attributing to it's thermal & noise insulation properties along with minimal Maintenence
            ensures that the product will be cost-effective in the long term.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">Customization</h3>
          <p class="mt-3">At GWI, every customer is unique & so is the requirement. GREEN WINDOW uPVC windows & doors
            come along with multiple designs, style & finishes. Giving a solution matching to every customer need.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-box">
          <h3 class="custom-box-content">24*7 customer support</h3>
          <p class="mt-3">With highly competent in house service team GREEN WINDOW ensures that every customer complaint
            is looked after with a high level of technical competence & care within 48hrs.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-homealert></app-homealert> -->